* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: white;
}

.corpo{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  background-color: #00833e;
  width: 100%;
  height: 120px;
  position: sticky;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

.navegacao {
  display: flex;
  position: absolute;
  left: 19%;
}

.cabecalho-img {
  width: 135px;
  z-index: 2;
}

.itens-cabecalho {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 20px 50px;
  border-right: 1px solid white;
  transition: 0.3s;
}

.itens-cabecalho:first-child {
  border-left: 1px solid white;
}

.itens-cabecalho:hover {
  background-color: #ff008c;
  transition: 0.3s;
  box-shadow: 5px 12px 30px #005529;
}

.itens-cabecalho:hover:first-child {
  background-color: #ff008c;
  transition: 0.3s;
  box-shadow: 5px 12px 30px #005529;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.itens-cabecalho:hover:last-child {
  background-color: #ff008c;
  transition: 0.5s;
  box-shadow: 5px 12px 30px #005529;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.botao-doe {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff008c;
  color: white;
  border-radius: 20px;
  border: solid 1px #ff008c;
  font-weight: 700;
  font-size: 18px;
  padding: 0 25px;
  cursor: pointer;
}

.coracaoDoe {
  display: flex;
  width: 40px;
}

.botao-doe:hover {
  background-color: #de007a;
  border-color: #de007a;
}

.titulo-config {
  padding: 20px 20px;
  background-color: white;
  text-align: center;
  margin-top: 10px;
}

.titulo-config h2 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #005529;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-video {
  font-size: 1.4rem;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container iframe {
  width: 80%;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 0 1 20px rgba(0, 0, 0, 0.15);
}

.descrição {
  justify-content: center;
  text-indent: 30px;
  text-align: justify;
  flex: 1;
  border-radius: 40px;
  padding: 2rem;
  margin: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 5px 20px rgb(145, 143, 143);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;
}

#grad-descrição {
  background-color: rgb(255, 255, 255);
}

.titulo {
  color: #005529;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  transform: translateX(-13px);
}

.titulo-alternativo {
  color: #002b15;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  transform: translateX(-13px);
}

.container-mvv {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 35px;
  margin-bottom: 35px;
  flex-wrap: wrap; /* Para responsividade */
  padding-bottom: 50px;
  padding-top: 50px;
}

.card-mvv {
  background-color: deeppink;
  color: white;
  border-radius: 40px;
  padding: 1.4rem;
  width: 300px;
  box-shadow: 2px 5px 10px rgb(145, 143, 143);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: -1.2px;
  transition: 0.3s;
}

.icon-mvv {
  width: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-mvv h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-mvv p {
  text-align: justify;
  font-size: 1.2rem;
}

.card-mvv:hover {
  transform: scale(1.1, 1.1);
}

.carousel-wrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.carousel {
  display: flex;
  gap: 2rem;
  scroll-snap-align: center;
}

.carousel-item {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  scroll-snap-align: center;
  border: 4px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.linha-contato {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.icon-mvv {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.contato-bloco {
  max-width: 50%; /* Limita a largura do bloco */
  width: 100%; /* Permite ser responsivo */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 2rem;
  box-shadow: 2px 5px 20px rgb(145, 143, 143);
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-align: justify;
  text-indent: 30px;
  background-color: #00833e;
}

.linha-contato p {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  text-indent: 10px;
  color: whitesmoke;
}

.location-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.contact-map__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

/* Bloco de Contato */
.contact-block {
  flex: 1;
  min-width: 280px;
  max-width: 320px;
  max-height: 350px;
  background-color: #00833e;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  flex-direction: column; /* Adicione */
  justify-content: space-between;
}

.contact-title {
  color: white;
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.highlighted-text {
  color: #ffffff;
  font-weight: bold;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.contact-text {
  color: white;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

/* Botão do Mapa */
.map-button {
  display: block;
  background-color: #ff008c;
  color: white;
  border-radius: 40px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.map-button:hover {
  background-color: #e0007a;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Bloco do Mapa */
.map-block {
  flex: 1;
  min-width: 420px;
}

.location-title {
  color: #005529;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.map-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.responsive-map {
  width: 100%;
  height: 500px;
  border: none;
}

/* pagina transparencia*/
.descrição-transparencia{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.conteudo-transparencia{
  flex: 1;
}

.botoes-transparencia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.botoes-transparencia button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #c1005a; /* rosa escuro */
  background-color: white;
  border: 2px solid #c1005a;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.botoes-transparencia button:hover {
  background-color: #c1005a;
  color: white;
}

.main-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ababab;
  position: relative;
  min-height: 100px; 
  bottom: 0;
  width: 100%;
}

.main-footer h3{
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.Socialtech{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

@media (max-width: 1242px) {
  .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #00833e;
    width: 100%;
    height: 120px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .cabecalho-img {
    width: 130px;
  }

  .navegacao {
    position: static;
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;
  }

  .itens-cabecalho {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 20px 25px;
    margin: 0px;
    border-right: 1px solid white;
    transition: 0.3s;
    white-space: nowrap;
  }

  .itens-cabecalho:last-child {
    border: none;
  }

  .botao-rosa {
    background-color: #ff008c;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }

  .botao-rosa:hover {
    background-color: #e6007e;
    box-shadow: 5px 12px 30px #005529;
  }
}

@media (max-width: 775px) {
  .cabecalho {
    flex-direction: column;
    height: auto;
    padding: 15px;
    justify-content: right;
  }

  .cabecalho-img {
    width: 250px;
    margin-bottom: 10px;
  }

  .navegacao {
    position: static;
    transform: none;
    justify-content: center;
  }

  .itens-cabecalho {
    padding: 15px 20px;
  }

  .itens-cabecalho:last-child {
    border-right: 1px solid white;
  }

  .itens-cabecalho:hover:last-child {
    background-color: #ff008c;
    transition: 0.5s;
    box-shadow: 5px 12px 30px #005529;
  }

  .descrição {
    font-size: 1rem;
  }
  #grad-descrição {
    background-color: rgb(255, 255, 255);
  }
}

@media (max-width: 440px) {
  .cabecalho {
    flex-direction: column;
    height: auto;
    padding: 6px;
    justify-content: right;
  }

  .navegacao {
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap; /* Mantém os itens em uma linha */
    overflow-x: auto; /* Adiciona rolagem horizontal, se necessário */
  }

  .cabecalho-img {
    width: 200px;
    margin-bottom: 10px;
  }

  .itens-cabecalho {
    font-size: 13px;
    white-space: nowrap; /* Impede quebra de linha no texto */
    flex-shrink: 0; /* Evita que os itens diminuam */
    padding: 10px 10px; /* Reduz o padding para caber mais itens */
  }

  .itens-cabecalho:first-child {
    border-left: none;
    border-top-left-radius: 0px;
  }
}
